html,
body {
  background-color: #eee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  font-size: 16px;
  line-height: 2em;
  letter-spacing: 1.6px;
  word-spacing: 4px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 5px;
}

.h1 {
  font-size: 2em;
  font-weight: 600;
}

.h2 {
  font-size: 1.8em;
  font-weight: 500;
}

.is-special {
  border-bottom: 2px solid indianred;
  margin-bottom: 20px;
}

.article-summary {
  font-size: 1.2em;
}
